.header {
    margin-top: 20px; /* Space above the header */
    background-color: #6eb5d8; /* Background color of the header */
    padding: 10px; /* Optional: Add some padding inside the header */
    text-align: center; /* Optional: Center the header text */
    border: 2px solid rgb(67, 195, 173); /* Red border around the header */
  }
  
  .header h1 {
    font-size: 2rem; /* Size of the header text */
    color: #111010; /* Color of the header text */
    margin: 0; /* Remove default margin to avoid extra spacing */
    border: 2px solid rgb(220, 23, 43); 
  }
  